.form-btns{
 display: flex;
  flex-direction: column; /* Garante uma organização vertical */
  align-items: flex-start; /* Alinha os itens à esquerda */
}
.btn-extra {
  display: flex;
  align-items: center;    /* Centraliza os elementos horizontalmente */
  justify-content: center; /* Centraliza os elementos verticalmente */
  gap: 8px;               /* Espaço entre os elementos */
  text-align: center;     /* Centraliza o texto */
}

.btn-extra img {
  width: 50px;  /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
}

.btn-extra span {
  font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
  color: #333;     /* Cor do texto */
}

