.UserCard {
    border-radius: 15px;
    box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: all 150ms ease-in-out;
    height: 300px;
    width: 250px;
}

.UserCard:hover, .user_new:hover {
    box-shadow: 3px 9px 9px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.UserCard .user_new {
    align-items: center;
    background-color: white;
    border-radius: 15px;
    border: solid 5px var(--c1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: center;
    transition: all 150ms ease-in-out;
    width: 100%;
}

.user_new .new {
    color: var(--c1);
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    transition: all 150ms ease-in-out;
}

.UserCard .user_old {
    align-items: center;
    background-color: var(--c1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.user_old .background {
    display: flex;
    box-shadow: 3px 0px 9px black;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
}

.user_old .info {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 5px;
    margin-top: 10px;
    text-align: center;
    text-shadow: 3px 0px 3px black;
    text-wrap: wrap;
}