@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..900&display=swap');

:root {
    --c1: #15847B;
    --c2: #D1FFD7;
    --c3: #B3FFB3;
    --c4: #FF4365;
    --c5: #030301;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.HomePage {
  width: 100%;
  padding: 20px;
}

.hero {
  margin: 50px 0;
  text-align: left;
  max-width: 600px;
  align-self: flex-start;
  padding-left: 5%;
}

.hero h2 {
  color: var(--c1);
  font-size: 24px;
  font-weight: bold;
}

.hero h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
}

.hero p {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-reserve {
  background-color: transparent;
  border: 2px solid var(--c1);
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  color: var(--c1);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-reserve:hover {
  background-color: var(--c1);
  color: white;
}

.recommended-trips {
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.recommended-trips h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.package-list {
  display: flex;
  justify-content: center;
  gap:40px;
  flex-wrap: wrap;
  width: 100%;
}

.toptrip {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow: hidden;
  width: 400px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2) ;
}

.toptrip .img {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 65%;
  width: 100%;
}

.toptrip .img img {
  width: 150%;
}

.toptrip .info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0;
}

.toptrip .info h1 {
  font-size: 2.7rem;
  font-weight: 700;
  margin: 0;
}

.toptrip .info span {
  font-size: 1.6rem;
  font-weight: 500;
}

section#steps {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 150px;
}

section#steps h4 {
  color: var(--c1);
  font-size: 40px;
  font-weight: 800;
}

section#steps a {
  border: solid 4px var(--c4);
  border-radius: 10px;
  color: var(--c4);
  font-size: 30px;
  font-weight: 800;
  margin-top: 50px;
  padding: 20px;
  transition: all 150ms ease-in-out;
  width: fit-content;
}

section#steps a:hover {
  color: white;
  background-color: var(--c4);
}

section#feedbacks {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section#feedbacks h2 {
  color: var(--c1);
  font-size: 20px;
  font-weight: 800;
}


section#feedbacks h1 {
  font-size: 30px;
  font-weight: 900;
}


section#feedbacks a {
  border: solid 3px var(--c1);
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.342);
  color: var(--c1);
  font-size: 20px;
  font-weight: 700;
  margin: 50px;
  padding: 15px;
  transition: all 150ms ease-in-out;
}

section#feedbacks a:hover {
  cursor: pointer;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.342);
  background-color: var(--c1);
  color: white;
}
