.register {
    align-items: center;
    background-color: var(--c1);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 1.8em 0px;
    position: relative;
    width: 100%;
}

.register #back{
    color: white;
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    top: 50px;
    left: 20px; 
    text-shadow: 1px 1px 3px black;
}

.section {
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 9px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    margin: 30px 0px 10px 0px;
    padding: 20px;
    width: 600px;
}

.section h1 {
    color: var(--c1);
    font-size: 28px;
    font-weight: 900;
    margin: 10px 0px;
}

.section form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0;
    width: 400px;
}

.section form input {
    width: 400px;
}

.section form button {
    background-color: white;
    border: solid 3px var(--c1);
    color: var(--c1);
    text-shadow: none;
    transition: all 150ms ease-in-out;
    width: 100%;
}

.section form button:hover {
    background-color: var(--c1);
    color: white;
}

.section .forgot {
    color: black;
    margin-top: 10px;
    font-size: 14px;
    transition: all 100ms ease;
} 

.section h2 {
    font-size: 16px;
    margin-top: 40px;
}

.section .login {
    background-color: white;
    color: var(--c1);
    font-size: 18px;
    margin-top: 10px;
    transition: all 100ms ease;
    height: fit-content;
    width: fit-content;
}
